<form class="form-horizontal">
    
    <div class="control-group">
        <h3>Experimental/Development</h3>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.exp">  Show any experimental features
            <i class="icon icon-info-sign" title="Reload page after changing this option" data-toggle="tooltip"></i>
        </label>
        <h3>Control Options</h3>
        <label>
            <input type="number" step="any" min="0.1" max="60.0" class="input-mini" data-bind="value: settings.plugins.roseengine.a_inc"> Rotation angle increment
            <i class="icon icon-info-sign" title="Default angular increments" data-toggle="tooltip"></i>
        </label>
        <br>
        <label>
            <input type="number" step="1" min="1" max="60" class="input-mini" data-bind="value: settings.plugins.roseengine.chunk"> Command chunk size
            <i class="icon icon-info-sign" title="Number of commands sent at each time." data-toggle="tooltip"></i>
        </label>
        <br>
        <label>
            <input type="number" step="1" min="0" max="95" class="input-mini" data-bind="value: settings.plugins.roseengine.bf_threshold"> Buffer threshold
            <i class="icon icon-info-sign" title="Delay sending commands if buffer threshold is below  this value." data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" min="0" max="200" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.ms_threshold"> Millisecond threshold
            <i class="icon icon-info-sign" title="If buffer is above threshold and if calculated time for next chunk is less than this value, next command chunk is sent." data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.auto_reset">  Auto-reset on stop
            <i class="icon icon-info-sign" title="Return to start position each time a run is stopped." data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.relative_return">  Return to relative start position during recording
            <i class="icon icon-info-sign" title="Uses markers to return to relative (not absolute) position during recording." data-toggle="tooltip"></i>
        </label>

        <label title="When rocking and pumping are used simulatenously, the axis associated with this function is reset first">Reset Priority:
                            <select id="reset_prior" data-bind="value: settings.plugins.roseengine.reset_priority">
                                <option value="none">None</option>
                                <option value="rock">Rock</option>
                                <option value="pump">Pump</option>
                            </select>
        </label>

        <label title="When using an X-scan with pumping, this option will use both the difference distance and the rotational difference when performing Z compensation">
        <input type="checkbox" data-bind="checked: settings.plugins.roseengine.use_zdiff">   Use positional Z-difference with X-scans
        </label>

        <h3>Laser options</h3>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.power_correct">  Perform laser power correction based on calculated linear movements
            <i class="icon icon-info-sign" title="Decreases laser power as the radius decreases. This REQUIRES zeroing Z-axis at actual Z=0." data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.use_m3">Use M3, rather than M4
            <i class="icon icon-info-sign" title="M4 automatically adjusts laser power based on acceleration. This can be used instead of power correction." data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.laser_start">  Start laser with run
            <i class="icon icon-info-sign" title="Starts the laser as soon as the run begins" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.laser_stop">  Stop run after single pass
            <i class="icon icon-info-sign" title="Stops the laser after one complete cycle." data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" min="1" max="10" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.max_correct">
            Maximum power correction scale factor
            <i class="icon icon-info-sign" title="When power scaling is used, this is the maximum scale factor from the set power." data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="any" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.min_correct">
            Minimum power correction scale factor
            <i class="icon icon-info-sign" title="when power scaling is used, this is the minimum scale factor from the set power." data-toggle="tooltip"></i>
        </label>
        <br>
        <h3>Geometric Chuck options</h3>
        <label>
            <input type="number" step="1" min="2" max="10" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_stages"> Geometric chuck stages
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" min="50" max="20000" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_points"> Default sampling points
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" min="10" max="10000" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_thresh"> Interpolation point threshold
            <i class="icon icon-info-sign" title="If the number of sampling points is below this value, the data will be re-interpolated. This allows straight lines." data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" min="50" max="20000" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_interp"> Interpolation resampling points
            <i class="icon icon-info-sign" title="The number of sampling points  during re-interpolation." data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.r_radius"> Random radius max value
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>

        <label>
            <input type="number" step="1" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.r_stage"> Random p/q max value
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>


        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.r_phase">  Randomize phase?
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>

        <label>
            <input type="number" step="1" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.r_phase_v"> Random phase max value
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <div class="dev">
        <h4>Geometric Chuck Gcode</h4>
        <label>
            <input type="number" step="any" min="0" max="20" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_cutdepth"> Cut depth.
            <i class="icon icon-info-sign" title="Total depth of cut" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="any" min="0" max="20" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_stepdown"> Cut step down
            <i class="icon icon-info-sign" title="Maximum depth of any cut." data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="any" min="1" max="2000" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_feedrate"> Feed rate(mm/min)
            <i class="icon icon-info-sign" title="Cut feed rate" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="any" min="1" max="2000" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_plunge"> Plunge Feed rate(mm/min)
            <i class="icon icon-info-sign" title="Cut feed rate" data-toggle="tooltip"></i>
        </label>
        </div>
        
        <h3>General Gcode options</h3>
        <h4>Axis mapping</h4>
            Axis:
            <select id="axis_first" class="span2">
                  <option value="X">X</option>
                  <option value="Z">Z</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
            </select>
            becomes:
            <select id="axis_second" class="span2">
                  <option value="X">X</option>
                  <option value="Y">Y</option>
                  <option value="Z">Z</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
            </select>
            with:
            <select id="axis_sign" class="span2">
                  <option value="same">Same</option>
                  <option value="inverse">Inverse</option>
            </select> sign.
            <button class="btn btn-small" data-bind="click: settings.plugins.roseengine.addAxisRule">Add</button>

            <div style="margin-top:8px">
              <table class="table table-condensed">
                <thead>
                  <tr><th>From</th><th>To</th><th>Sign</th><th></th></tr>
                </thead>
                <tbody data-bind="foreach: settings.plugins.roseengine.axis_rules">
                  <tr>
                    <td data-bind="text: first"></td>
                    <td data-bind="text: second"></td>
                    <td data-bind="text: sign"></td>
                    <td><button class="btn btn-mini btn-danger" data-bind="click: $root.settings.plugins.roseengine.removeAxisRule">Delete</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
    </div>
</form>
