<!--roseengine_tab.jinja2 -->

<div id="roseengine_plugin_main" class="row-fluid">

    <div id="roseengine_inputs">

        <div id="plotarea" style="width: 100%; height: 500px;"></div>

        <div style="width: 300px; float: left;">
            <div>
                <label for="rosette_file_select">Select Scan File:
                    <select id="rosette_file_select">
                        <option value="">Loading...</option>
                    </select>
                </label>        
            </div>

            <div>
                <label title="RPM" data-toggle="tooltip" for="rpm">
                    RPM:
                    <input id="rpm" type="number" value="1" step="any" data-bind="value: rpm">
                </label>
            </div>
            
            <div>
                <label title="forward" data-toggle="tooltip" for="forward">
                    Spindle forward:
                    <input id="forward" type="checkbox" checked data-bind="checked: forward">
                </label>
            </div>

            <div>
                <label title="The percent step over at the largest diameter of the piece based on the input tool diameter." data-toggle="tooltip" for="amp">
                    Amplitude scale factor:
                    <input id="amp" type="number" value="0.5" max="1.0" step="any" data-bind="value: amp">
                </label>
            </div>

            <div>
                <label title="This inverts the cut depth to make lobes instead of facets." data-toggle="tooltip" for="facetinvert">
                    Invert depths:
                    <input id="facetinvert" type="checkbox" checked data-bind="checked: facet_invert">
                </label>
            </div>

        </div>
    </div>
<br>
    <div id="roseengine_actions" style="clear: both; margin-top: 20px;">
        <button id="write_gcode_button" class="btn btn-primary" data-bind="click: writeGCode">Write Job</button>
        <button id="target_button" class="btn btn-primary" data-bind="click: gotoposition">Go to Target</button>
    </div>
</div>
