<!--roseengine_tab.jinja2 -->

<div id="roseengine_plugin_main" class="container-fluid">

    <div class="row-fluid justify-content-start">
        <!-- Rock Column -->
        <div id="rock" class="span6">
            <div id="rockarea" style="height: 300px; "></div>
            <div id="rock_controls" class="">
                <div>
                    <label for="rock_file_select">Select Rock Rosette:</label> 
                        <select id="rock_file_select">
                            <option value="">Loading...</option>
                        </select>    
                </div>
                <div>
                    <label title="Amplitude scale factor for rocking" for="r_amp">Rock amplitude:</label>
                    <input id="r_amp" type="number" value="0.5" max="5.0" step="any" data-bind="value: r_amp">            
                </div>
                <div class="parametric">
                    <details>
                        <summary>Periodic Wave Functions</summary>
                         <div>
                            <label>Wave Function:</label>
                            <select id="wave_type" data-bind="value: wave_type">
                                <option value="sin">Sine</option>
                                <option value="tri">Triangle</option>
                                <option value="square">Square</option>
                                <option value="saw">Sawtooth</option>
                            </select>
                        </div>
                        <div>
                            <label for="samp">Amplitude (mm):</label>
                            <input id="s_amp" type="number" value="1" step="any" data-bind="value: s_amp">
                        </div>
                        <div>
                            <label title="The number of complete periods per 360 degrees" for="peak">Periods:</label>
                            <input id="peak" type="number" value="1" step="1" data-bind="value: peak">
                        </div>                       
                        <div>
                            <button id="create_para" class="btn" data-bind="click: function() {parametric_rosette('rock')}">Create Rock</button>
                            <button id="create_para" class="btn" data-bind="click: function() {parametric_rosette('pump')}">Create Pump</button>
                        </div>
                    </details>
                </div>
                <div style="padding: 30px 0px 0px 0px;justify-content: center;">
                    <button id="clear_rock" class="btn" data-bind="click: function() {clear_rosette('rock')}"> Clear</button>
                </div>
            </div>
        </div>
        <!-- Pump Column -->
        <div id="pump" class="span6">
            <div id="pumparea" style="height: 300px; "></div>
            <div id="pump_controls" class="">
                <div>
                    <label for="pump_file_select">Select Pump Rosette:</label> 
                        <select id="pump_file_select">
                            <option value="">Loading...</option>
                        </select>
                           
                </div>
                <div>
                    <label title="Amplitude scale factor" for="p_amp">Pump amplitude:</label>
                    <input id="p_amp" type="number" value="0.5" max="5.0" step="any" data-bind="value: p_amp">            
                </div>
                <div>
                    <label title="Phase offset, must be in intervals of angle increments" data-toggle="tooltip" for="pump_offset">Phase offset</label>
                    <p><strong data-bind="text: pump_offset()"></strong></p>
                    <input class="slider" id="pump_offset" type="range" min="0.0" max="360.0" step="0.5" data-bind="value: pump_offset, valueUpdate: 'input'">
                </div>
                <div>
                    <label title="Invert pumping direction" data-toggle="tooltip" for="pump_invert">
                        Invert pump:
                        <input id="pump_invert" type="checkbox" data-bind="checked: pump_invert">
                    </label>
                </div>
                <div style="margin-top: auto; display: flex; justify-content: center;">
                    <button id="clear_rock" class="btn" data-bind="click: function() {clear_rosette('pump')}"> Clear</button>
                </div>
                <!-- Add more pump-specific controls here if needed -->
            </div>
        </div>
        
    </div>
    <!-- Input Region -->
    <hr>
    <div id="lower" class="justify-content-start">
    <div id="input_region" class="row-fluid span12" >
    
        <div id="running" class="span6" style="float: left;">
            <div>
                    <label title="RPM" data-toggle="tooltip" for="rpm">RPM</label>
                    <input class="slider" id="rpm" type="range" min="0.25" max="6" step="0.25" data-bind="value: rpm, valueUpdate: 'input'">
                    <br><strong data-bind="text: rpm()"></strong>   
            </div>
            <div style="padding: 10px 0px 0px 0px;">
                <label title="Uncheck to run spindle in reverse" data-toggle="tooltip" for="forward">
                    Spindle forward:
                    <input id="forward" type="checkbox" checked data-bind="checked: forward">
                </label>
            </div>

            <div>
                <details>
                    <summary>Fixed Plane</summary>
                    <div>
                        <label style="display: block;" for="b_adjust" title="Modifies X and Z coordinates based on current B-axis angle">Use fixed plane based on B-angle:
                        <input style="vertical-align:middle; position: relative; bottom: 1px;" id="b_adjust" type="checkbox" data-bind="checked: b_adjust">
                        </label>
                    </div>
                    <div>
                        <label for="bref" title="Reference B-angle for your cut. See special notes." >B-ref. for this frame:</label>
                        <input id="bref" type="number" step="any" data-bind="value: bref">
                    </div>                       
                </details>
            </div>

            <div>
                <details>
                    <summary>Ellipitical Chuck</summary>
                    <div>
                        <label for="e_rad" title="Major radius of ellipse for calculation purposes. All shift values will be relative to this." >Nominal radius (mm):</label>
                        <input id="e_rad" type="number" value="1" step="any" data-bind="value: e_rad">
                    </div>
                    <div>
                        <label for="ratio" title="Ratio of major to minor. Value of 1 will be a circle." >Ratio:</label>
                        <input id="ratio" type="number" min="1.0" step="any" data-bind="value: e_ratio">
                    </div>                       
                </details>
            </div>

            <div>
                <details>
                    <summary>Geometric Chuck</summary>
                    <!-- ko foreach: stages -->
                        <div>
                            <label for="stage-radius-{$index()}" title="">Stage <span data-bind="text: id"></span>:(radius, p, q, phase)</label>
                            <input class="span3" id="stage-radius-{$index()}" type="number" step="any" data-bind="value: radius">
                            <input class="span3" id="stage-p-{$index()}" type="number" step="any" data-bind="value: p">
                            <input class="span3" id="stage-q-{$index()}" type="number" step="any" data-bind="value: q">
                            <input class="span2" id="stage-phase-{$index()}" type="number" step="any" data-bind="value: phase">
                        </div>
                    <!-- /ko -->
                    <div>
                        <label for="geo_points" title="Number of sampling points" >Sample points:</label>
                        <input class="span4" id="geo_points" type="number" min="50" step="any" data-bind="value: geo_points">
                    </div>
                    <div>
                        <button id="create_geo" class="btn" data-bind="click: function() {create_geo(false)}"> Create</button>
                        <button id="geo_random" class="btn" data-bind="click: function() {create_geo(true)}">Random</button>
                        <button id="geo_save" class="btn" data-bind="click: function() {save_geo()}">Save Geo</button>
                    </div>
                </details>
            </div>


            <div style="padding: 10px 0px 0px 0px;">
                <button id="start_job_button" class="btn btn-primary" data-bind="enable: is_operational() && available(), click: startjob">Start</button>
                <button id="stop_job_button" class="btn btn-primary" data-bind="enable: is_operational() && available(),click: stopjob">Stop</button>
                <button id="gotostart_button" class="btn btn-primary" data-bind="enable: is_operational() && available(),click: gotostart">Reset</button>
            </div>
            <!-- Recording controls -->
            
            <div id="reccontrols" style="padding: 10px 5px 0px 0px;">
                <label for="recontrols">Recording Controls</label>
                <button id="recpause" title="Start/Pause Recording" class="btn box" style="border: 1px solid; width: 40px; height: 40px;" data-bind="enable: is_operational() && available(),click: function() {record('start')}">
                <i class="fa fa-play"></i>
                </button>

                <button id="stoprec" title="Terminate recording and write file" class="btn box" style="border: 1px solid; width: 40px; height: 40px;" data-bind="enable: is_operational() && available(),click: function() {record('stop')}">
                <i class="fa fa-save"></i>
                </button>

                <button id="deleterec" title="Trash current recording" class="btn box" style="border: 1px solid; width: 40px; height: 40px;" data-bind="enable: is_operational() && available(),click: function() {record('trash')}">
                <i class="fa fa-trash"></i>
                </button>           
            </div>

        </div>
        <div id="controls" class="span6">
            <div>
                <label title="Relative movement distance (absolute value)" for="dist">Movement Distance:</label>
                <input id="dist" type="number" value="0.5" min="0" max="360" step="any" data-bind="value: dist">            
            </div>

            <div>
            <!-- ko foreach: distances -->
                <button id="ctrl-distance-$data" type="button" class="btn dist" style="border: 1px solid; margin: 5px 0px 0px 0px" data-bind="attr: { id: 'ctrl-distance-' + $index() }, click: function() { $parent.distClicked($data) }, text: $data"></button>
            <!-- /ko -->
            </div>

            <div style="padding: 5px 5px 2px 0px;" >
                <table id="jogger" border="0" style="margin: 0 auto;">
                <tbody>
                <tr>
                    <td>
                        <button id="hidden1" class="btn box" style="visibility: hidden; border: 1px solid; width: 40px; height: 40px;" data-bind="click: function() {re_jog('down')}">
                            <i class="fa fa-arrow-up"></i>
                        </button>

                        <button id="ctrl-zdown" class="btn box" style="border: 1px solid; width: 40px; height: 40px;" data-bind="enable: is_operational() && available(), click: function() {re_jog('down')}">
                            <i class="fa fa-arrow-up"></i>
                        </button>

                        <button id="hidden2" class="btn box" style="visibility: hidden; border: 1px solid; width: 40px; height: 40px;" data-bind="click: function() {re_jog('down')}">
                            <i class="fa fa-arrow-up"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="ctrl-xdown" class="btn box" style="border: 1px solid; width: 40px; height: 40px;" data-bind="enable: is_operational() && available(), click: function() {re_jog('left')}">
                            <i class="fa fa-arrow-left"></i>
                        </button>

                        <button id="laser" class="btn box" style="border: 1px solid; width: 40px; height: 40px;" data-bind="enable: laser_mode() && is_operational(), click: function() {toggle_laser()}">
                            <i class="fa fa-bullseye"></i>
                        </button>

                        <button id="ctrl-xup" class="btn box" style="border: 1px solid; width: 40px; height: 40px;" data-bind="enable: is_operational() && available(), click: function() {re_jog('right')}">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="ctrl-aplus" title="Rotate A positive" class="btn box" style="border: 1px solid; width: 40px; height: 40px;" data-bind="enable: is_operational() && available(), click: function() {re_jog('plus')}">
                            <i class="fa fa-rotate-left"></i>
                        </button>
                        <button id="ctrl-zup" class="btn box" style="border: 1px solid; width: 40px; height: 40px;" data-bind="enable: is_operational() && available(), click: function() {re_jog('up')}">
                        <i class="fa fa-arrow-down"></i>
                        </button>
                        <button id="ctrl-aminus" title="Rotate A negative" class="btn box" style="border: 1px solid; width: 40px; height: 40px;" data-bind="enable: is_operational() && available(), click: function() {re_jog('minus')}">
                            <i class="fa fa-rotate-right"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>    
            </div>
            <div id=laser_numbers data-bind="visible: laser_mode">
                <label title="The base laser power, 0 to 1000" for="laser_power">Laser Power:</label>
                <input id="laser_power" type="number" max="1000" value="1" step="1" data-bind="value: laser_base">

                <label title="The target <b>linear</b> feed rate (mm/min) for the provided laser power, only used if power correction is on" for="laser_feed">
                Nominal feed:</label>
                <input id="laser_feed" type="number" value="1" step="1" data-bind="value: laser_feed">
            </div>
        </div>
    </div>
</div>
</div>