<form class="form-horizontal">
    <div class="control-group">
        <h3>Control Options</h3>
        <label>
            <input type="number" step="any" min="0.1" max="60.0" class="input-mini" data-bind="value: settings.plugins.roseengine.a_inc"> Rotation angle increment
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <br>
        <label>
            <input type="number" step="1" min="1" max="60" class="input-mini" data-bind="value: settings.plugins.roseengine.chunk"> Command chunk size
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <br>
        <label>
            <input type="number" step="1" min="0" max="95" class="input-mini" data-bind="value: settings.plugins.roseengine.bf_threshold"> Buffer threshold
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" min="0" max="200" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.ms_threshold"> Millisecond threshold
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.auto_reset"> Auto-reset on stop
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.relative_return">Return to relative start position during recording
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <h3>Laser options</h3>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.power_correct">Perform laser power correction based on calculated linear movements
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.use_m3">Use M3, rather than M4
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.laser_start">Start laser with run
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="checkbox" data-bind="checked: settings.plugins.roseengine.laser_stop">Stop run after single pass
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" min="1" max="10" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.max_correct">
            Maximum power correction scale factor
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="any" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.min_correct">
            Minimum power correction scale factor
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <br>
        <h3>Geometric Chuck options</h3>
        <label>
            <input type="number" step="1" min="2" max="10" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_stages"> Geometric chuck stages
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" min="50" max="20000" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_points"> Default sampling points
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" min="10" max="10000" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_thresh"> Interpolation point threshold
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <label>
            <input type="number" step="1" min="50" max="20000" class="input-mini" data-bind="numeric, value: settings.plugins.roseengine.geo_interp"> Interpolation resampling points
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
    </div>
</form>