.shadow-effect {
  box-shadow: 5px 5px 10px rgba(122, 54, 54, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.recording-effect {
    border: 2px solid red;
    padding: 3px;
    margin: 3px;
}

#rock_area, #pump_area {
    flex: 1;
}
